/VietLot/nbproject/private/
/VietLot/build/
/LAB03_20522197/nbproject/private/
/LAB03_20522197/build/
/LAB03_20522197/dist/
/LAB04_20522197/nbproject/private/
/LAB04_20522197/build/
/LAB05_20522197/nbproject/private/
/LAB05_20522197/build/
/LAB06_20522197/nbproject/private/
/LAB06_20522197/build/
/Lab06_Bai2_20522197/nbproject/private/
/Lab06_Bai2_20522197/build/
/Chuong8/nbproject/private/
/Chuong8/build/
/democheckbox/nbproject/private/
/democheckbox/build/
/Chuong9/nbproject/private/
/Chuong9/build/
/Chuong9/dist/
/20522197/nbproject/private/
/20522197/build/
/Chuong9.1/nbproject/private/
/Chuong9.1/build/
/DoAnCuoiKy/nbproject/private/
/DoAnCuoiKy/build/
/DoAnCuoiKy(Trenmay-koedit)/nbproject/private/
/DoAnCuoiKy(Trenmay-koedit)/build/
